<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <nav>
            <button mat-raised-button routerLink="/ejercicios" color="">Primary</button>
            <a mat-raised-button routerLink="/panel"> Panel</a>
            <a mat-raised-button routerLink="/ejercicios"> Ejercicios</a>
        </nav>
        <button routerLink="/panel" mat-flat-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
        </button>    
    </mat-toolbar-row>
    
</mat-toolbar>


<router-outlet></router-outlet>
