<h2>Listado de ejercicios</h2>
<ul class="ejercicios">
    <li *ngFor="let ejercicio of ejercicios" (click)="onSelectEjercicio(ejercicio)" [class.selected] = "ejercicio===ejercicioSeleccionado">
        <a routerLink="/detalle/{{ejercicio.id}}">
            <span class="ejercicio">{{ejercicio.id}}</span> {{ejercicio.name}}
        </a>
        <!-- <input [(ngModel)]="ejercicio.name" placeholder="name" type="text"> -->
    </li>
</ul>


<mat-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let ejercicio of ejercicios">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div mat-line>{{ejercicio.name}}</div>
      <div mat-line>{{ejercicio.id}}</div>
    </mat-list-item>

</mat-list>

